<div class="main">
  <div class="container py-5 text-center p-5">
    <div class="row">
      <div class="col-md-12">
        <hr>
        <h1>Rock, Paper, Scissor</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 p-2">
        <h3>Round {{ roundCount }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3>Player 1</h3>
            <button type="button" class="btn btn-outline-info choice m-2" (click)="startGame('Rock')">&#9994;</button>
            <button type="button" class="btn btn-outline-info choice m-2" (click)="startGame('Paper')">&#9995;</button>
            <button type="button" class="btn btn-outline-info choice m-2" (click)="startGame('Scissor')">&#9996;</button>
            <br>
            <p>Player Score: {{ playerScore }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3>Computer</h3>
            <button type="button" class="btn choice m-2"
              [ngClass]="computerChoice === 'Rock' ? 'btn-info' : 'btn-outline-info disabled'">&#9994;</button>
            <button type="button" class="btn choice m-2"
              [ngClass]="computerChoice === 'Paper' ? 'btn-info' : 'btn-outline-info disabled'">&#9995;</button>
            <button type="button" class="btn choice m-2"
              [ngClass]="computerChoice === 'Scissor' ? 'btn-info' : 'btn-outline-info disabled'">&#9996;</button>
            <br>
            <p>Computer Score: {{ computerScore }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 p-2">
        <h4 *ngIf="message === ''">You didn't even start the game yet...</h4>
        <h4 *ngIf="message !== ''">{{ message }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 p-2">
        <button type="button" class="btn btn-danger" (click)="resetScore()">Reset</button>
      </div>
    </div>
  </div>
</div>